.card {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
form {
    max-width: 400px;
    background: rgb(48, 48, 48);
    flex-grow: 1;
    padding: 30px 30px 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px rgba(68, 68, 68, 0.723);
}
.login-form {
    max-width: 400px;
    background: rgb(48, 48, 48);
    flex-grow: 1;
    padding: 30px 30px 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px rgba(68, 68, 68, 0.723);
}

.login-form a {
        color: #F3F3F3;
    }

.form-heading {
    font-size: 25px;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 10px;
}

.form-group {
    border-bottom: 1px solid rgb(29, 27, 27);
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}

    .form-group i {
        color: #F3F3F3;
        font-size: 14px;
        padding-top: 5px;
        padding-right: 10px;
    }

.form-input {
    background: transparent;
    border: 0;
    outline: 0;
    color: #F3F3F3;
    flex-grow: 1;
    padding-left: 16px;
    padding-bottom: 5px;
    font-size:16px;
}

    .form-input::placeholder {
        color: #f3f3f3c6;
    }

.form-submit {
    background-color: #F3F3F3;
    color: 393737;
    width: 100%;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
    border-radius: 30px;
}

    .form-submit:hover {
        border: 3px solid #ffffff;
        font-style: bold;
    }

input {
    color: white;
    background-color: black;
}

::-ms-reveal {
    filter: invert(100%);
}
